html{
  font-family: 'Frijole', cursive;
  background-color: yellow;
  animation-name: bg-animation;
  animation-duration: 40s;
}

@keyframes bg-animation {
    0%   {background-color: yellow;}
    25%  {background-color: #FFE143;}
    50%  {background-color: #FFC771;}
    75% {background-color: #FFB897}
    100% {background-color: yellow;}
}

h1{
  text-align: center;
  text-shadow: .5px .5px;
  font-size: 35px;
  color: black;
}

h4{
  color: grey;
}

.play-bg:hover{
  cursor: pointer;

}

.pause-bg{
  cursor: pointer;

}

.win{
  opacity: 0;
  color: green;
}

.lost{
  opacity: 0;
  color: red;
}

.hangman{
  margin: 0 auto;
  max-width: 100px;
}

.scaffold-top{
  display: block;
  width: 105px;
  height: 5px;
  background-color: black;
}

.scaffold-left{
  display: block;
  float: left;
  width: 5px;
  height: 200px;
  background-color: black;
}

.scaffold-base{
 width: 150px;
 height: 10px;
 background-color: black;
}

.hang-area{
  width: 200px;
  height: 200px;
  text-align: center;
}

.rope{
  display: block;
  margin: auto;
  height: 25px;
  width: 5px;
  background: grey;
}

.head{
  display: block;
  margin: auto;
  height: 30px;
  width: 30px;
  background: black;
  border-radius: 15px;
}

.arms{
  display: block;
  margin: auto;
  width: 100px;
}

.leftarm{
  display: block;
  float: left;
  height: 10px;
  width:45px;
  background: black;
}

.rightarm{
  display: block;
  float: right;
  height: 10px;
  width: 45px;
  background: black;
}

.torso{
  display: block;
  margin: auto;
  width: 10px;
  height: 50px;
  background: black;
}

.legs{
  display: block;
  margin: auto;
  height: 60px;
  width: 30px;
}

.leftleg{
  display: block;
  float: left;
  width: 10px;
  height: 60px;
  background: black;
}

.rightleg{
  display: block;
  float: right;
  width: 10px;
  height: 60px;
  background: black;
}

.pelvis{
  display: block;
  margin: auto;
  height: 10px;
  width: 10px;
  background: black;
}

.floor{
  margin: auto;
  width: 500px;
  border: 2px solid black;
}

.word{
  align-items: center;
  display: flex;
  border: 3px solid black;
  margin: 0 auto;
  width: 20%;
  height: 50px;
}

.alphabet{
  margin: auto;
  text-align: center;
  width: 90%;
  margin-top: 10px;
  display: block;
  border: 1px solid black;
}

.letters{
  padding: 5px;
  margin: 2px;
  display: inline-block;
  font-size: 20px;
  border: 3px solid black;
}

.letters: hover{
  box-shadow: 10px;
}


.button{
  padding: 5px;
  background-color: black;
  color: yellow;
  font-size: 20px;
}

.pause-bg{
  font-size: 13px;
  border: .5px solid black;
}

.play-bg{
  font-size: 13px;
  border: .5px solid black;
}

/* The Modal background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
